body{

    background: #edf0f5;
    color: #6a6c6f;
}

.login-wrapper {
    
    position: relative;
}
.login-box{
    
    position: absolute;
    background: #FFF;
    width: 450px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 320px;
    padding:20px;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -webkit-box-shadow: 9px 9px 5px 0px rgba(168,166,168,1);
    -moz-box-shadow: 9px 9px 5px 0px rgba(168,166,168,1);
    box-shadow: 9px 9px 5px 0px rgba(168,166,168,1);
    behavior: url(css/PIE.htc);

}

.login-error {

    width: 450px;
    margin: 20px auto -80px;
    
    
}

@media screen and (max-width: 500px){
    
    .login-box{
        width: 90%;
    }
    
    .login-error {

        width: 90%;
        font-size: 80%;
    
    }

}