body{

    background: #edf0f5;
    color: #6a6c6f;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 50px;
}



html,body {
    height:100%;
}

.pagination {
    margin:0;
}

.fa-edit {
    
    padding-top: 2px;
}


.left-margin-5 {
    
    margin-left: 5px;
}
.left-margin-10 {
    
    margin-left: 10px;
}

.left-margin-15 {
    
    margin-left: 15px;
}

.right-margin-5 {
    
    margin-right: 5px;
}
.right-margin-10 {
    
    margin-right: 10px;
}

.right-margin-15 {
    
    margin-right: 15px;
}
.inline-blocked {

    display: inline-block;
}

.pointer {
    
    cursor: pointer;
}

.list-group a:hover{

    text-decoration: none;
}

.dropdown-menu-horizontal > li{

    display: inline-block;
    float:left

}

.dropdown-menu-horizontal > li a:hover{

    color: #62cb31;
    background: #fff;
}

.open> ul.dropdown-menu-horizontal {
    display: inline-flex !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* start */
/* end */


/* start colors*/
    
.primary-color {

    background: #64CC34 !important;
}

.success-color {
    
    background: #3498DB !important;
}

.warning-color {
    
    background: #FFB606 !important;
}

.danger-color {
    
    background: #E74C3C !important;
    
}

.primary-text {

    color: #FFF !important;
}
/* end colors*/


/* start login */
.login-box{
    
    background: #FFF;
    width: 450px;
    margin: auto;
    height: 300px;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    padding:20px;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -webkit-box-shadow: 9px 9px 5px 0px rgba(168,166,168,1);
    -moz-box-shadow: 9px 9px 5px 0px rgba(168,166,168,1);
    box-shadow: 9px 9px 5px 0px rgba(168,166,168,1);
    behavior: url(css/PIE.htc);

}

@media screen and (max-width: 500px){
    
    .login-box{
        width: 90%;
    }

}

/* end login */


/* start main layout*/
.main-wrapper{
  
 
}
.header .top-line{
    height: 6px;
    width: 100&;
    background: #62cb31;
}

.header .navbar{

    border-radius: 0;
    background: #FFF;
    margin: 0;
    border-top: solid 6px #62cb31;
}

.header .navbar-brand{

    background: #F7F9FA;
}

.main-content-wrapper{
    position: relative;
    min-height: 100%;
    
}


.main-content{
   padding:10px 40px 40px 40px;   
}

.main-content .inner-box{

    background: #FFF;
    padding:20px;
    border:solid 1px #E4E5E7;
   
}

.main-content .inner-header{
    background: #FFF;
    border:solid 1px #E4E5E7;
    border-left: none;
    border-right: none;
    padding: 0 20px 0 30px;
    margin:-10px -40px 10px -40px;
}

.main-content .inner-header .inner-btn{
    line-height: 15px;
    float: right;
    margin-right: 5px;
}

.main-content .inner-box .search-box{

    margin-bottom:10px;
   
}



.main-content .message-box{
    margin:-10px -40px;
    border: none;
    border-radius: 0;
}

.main-content .new-btn {

    margin-top: 20px;
}
/* end main layout*/

/* start sidebar */
.sidebar {
    background: #fff;
    border-right: solid 1px #E4E5E7;
    padding: 0;

}

.sidebar-navigation ul {
    background:#F7F9FA;
}
.sidebar-navigation ul li{
   margin: 0;
   border-top: solid 1px #E4E5E7;    
}

.sidebar-navigation ul li.active a{
   background: #FFF;
   color: #6a6c6f;    
}

.sidebar-navigation ul li.active a:hover,
.sidebar-navigation ul li.active a:active,
.sidebar-navigation ul li.active a:link{
   background: #FFF;
   color: #34495E;   
   
}

.sidebar-navigation ul li:last-child{
 
   border-bottom: solid 1px #E4E5E7;    
}
.sidebar-navigation ul li a{
   border-radius: 0;
   color: #6a6c6f;
   font-weight: 600;
   text-transform: uppercase;
}


.sidebar .list-group-item,
.sidebar .list-group-item:link,
.sidebar .list-group-item:visited,
.sidebar .list-group-item:active{
    background:#F7F9FA;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: #6a6c6f;
  
}

.sidebar .list-group-item:hover{
    background: #FFF;
    color: #34495E;   
}

.sidebar .list-group-item:hover i{

    color: #62cb31;   
}

.sidebar .list-group .active i{

    color: #62cb31;   
}

.sidebar .list-group-item{
    padding-left: 20px;  
}

.sidebar .list-group .active{
    background: #FFF;
    border-color: #E4E5E7;
}
.sidebar .list-group-item:last-child,
.sidebar .list-group-item:first-child{
    
    border-radius: 0;
}

.sidebar .list-group-item{
    border-right: none;
}

.sidebar .info-box{
    text-align: center;
    padding: 30px
}

.sidebar .info-box img{
    margin: 0 auto;
    width: 100px;
    border: solid 1px #62cb31;
    
}

.sidebar .info-box h5{
   
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    margin-bottom: 0;
}

.sidebar .info-box em{
   
    font-size: 8px;
    
}

.sidebar .list-group .sub-item {
    display: none;
}

.sidebar .list-group .sub-item a{
    padding-left: 50px;
     
}

.sidebar .list-group .sub-item .active {
     border-right: solid 4px #62cb31;
}

.sidebar .list-group .sub-item a:last-child{
    border-bottom: none;
}

.sidebar .list-group .active{

    display: block;
}


@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0x;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }

  
        
}

@media (max-width: 765px) {
 
    body{
        background: #FFF;
    }
    
    
    .sidebar .list-group{
    
        text-align:center;
    }
    .main-content{
    
        padding: 0;
        background: #FFF;
    }
    
    .main-content .inner-box{
    
        border:none;
        overflow: hidden;
     
    }
    
    .main-content .inner-header{
    
        margin:-21px 0 10px 0;
        padding: 0;
    }        
  
    .content-header i{
        display: none;
    }
    
}

@media screen and (min-width: 400px) and (max-width: 765px){

    .sidebar .list-group-item{
        display: inline-block;
        border: solid 1px #eee;
        margin-top: 5px;
    }
    
    
    
}


@media (max-width: 992px) {
 
    .main-table{

        overflow-x: auto;
        display: block;
        width: 100%;
    }
    
    
}


@media (max-width: 320px) {
    .product-header {
        width: 100%;
    }
    
    .product-button{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .product-button{
        padding-right: 150px;
    }
    
    .product-button * {
        vertical-align: top;
        float: left;
    }
   
}


/* end sidebar */

/* start main table*/


.main-table {

    border: solid 1px #E4E5E7;
    width: 100%;
    margin-top: 10px;
    

}




.main-table thead tr th{

    border: none;
    cursor: pointer;
}




.main-table .tb-icon{

    cursor: pointer;
}

.main-table .tb-icon:hover{

    color: #62cb31; 
}

.main-table a{

    color: #6a6c6f;
}

.main-table a:hover {

    text-decoration: none;
}

.table-loader {

    margin: 20px;
    background: #fff;
}
/* end  main table */


/* start product table */

.product-table tbody tr td:not(:nth-last-of-type(-n+2)){

    font-size: 11px;
    vertical-align: middle;
}

.product-table tbody tr td img{

    width: 75px;
    height: 75px;
}


.product-table tbody tr td:nth-last-of-type(-n+2){

    font-size: 15px;
    vertical-align: middle;
}

.product-table .updated {
	
	color:#62cb31;
}

/* end product table */

/* start invoice table */

.invoice-table thead {

   background: #ddd;
    
}

.invoice-table thead tr th{

    border-bottom: none;
}

.invoice-total-row{
	
	display: inline-block;
  margin-left: 10px;
	width: 70px;
    
}

/* end invoice table */

/* start modal*/

.modal-content{

    margin-top: 200px;
    border-radius: 0;
    border:0;
    border-top: solid 6px #62cb31;
}
.modal-body {
    
    min-height: 80px;
}
.modal-footer,modal-header{

    background: #edf0f5;
}
/* end modal*/

/* start View Profile*/


.profile-box{

    padding:20px 0;
}

.profile-box .image-holder {

    margin-right: 10px;
}

.profile-box .image-holder img{

    border: solid 4px #62CB31;
    padding:7px;
}

.profile-box .name-holder{
    
    padding:10px;
}

.profile-box .name-holder form{
    
    display: inline;
}
.trail-holder{

    padding-left:10px;    
}
/* end View Profile*/

/* start Expense*/

#expense-category{

    width:90%;
    display: inline;
}

#add-expense-category{

    margin-bottom: 2px;
}

@media (max-width: 440px) {
 
    #expense-category{

      width:80%;
    }
    
    
}
/* end Expense*/

/* start Product */


#item-search,#item-clear {

    margin-top: 24px;
}



.product-detail-view .tab-content div{

    padding:20px; !important
}

.product-detail-view .product-image {

		height: 300px;
    width: 300px;
}

.product-data {

    margin-left: 100px;
}

.order-slip-img {

    width: 100%;
}

.quick-update {
  
  margin-bottom: 5px;
}

.checkbox-styled {
  
  display: none;
}

.checkbox-styled + span {
  
  margin-left: -15px;
}

.checkbox-styled + span:before {
  font-family: FontAwesome;
  content: "\f05d"; 
}

.checkbox-styled:checked + span:before {
  font-family: FontAwesome;
  color: #74D348;
  content: "\f058";
}

#invoice-product-list {
  
  margin-top: 20px;
}
/* end Product */


/* start dashboard */

.dashboard-panel {
    
    text-align: center;
    color:#FFF;
}

#reminder {
	
	padding: 15px;
}

/* end dashboard */
